<strong>Confirmação de email!</strong>

<h3> Olá, {{ name }}</h3>

<p>Viemos te lembrar que você ainda não confirmou seu email em nossa plataforma!</p>

<p>Use o link abaixo para confirmar seu e-mail:</p>

<a href="{{ link }}">{{link}}</a>
<br>
<br>
<br>
<img src="http://volcanfly.com.br/assets/images/logo.png" style="width: 300px; height: auto;">
