<strong>Confirmando email!</strong>

<h3> Olá,{{ name }}</h3>

<p>Se você fez uma conta em {{ appName }}</a>,
 por confirme seu email!</p>

<p>Use o token {{ token }} para confirmar seu email ou acesse :</p>

<a href="{{ link }}">Confirmar email!</a>
