<strong>Recuperação de senha!</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o email ({{ email }}).<br>
  Se foi você que realizou está operação, utilize o link abaixo para redefinir sua senha. </p>

<p>Para continuar com a recuperação de senha, clique no link abaixo:</p>

<a href="{{link}}">{{link}}</a>
<br>
<br>
<br>
<img src="http://volcanfly.com.br/assets/images/logo.png" style="width: 300px; height: auto;">